<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="./public/css/jass">
  <link rel="stylesheet" href="./public/css/jass">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
       <span for="img" src="../assets/Groan Zone.png"
    aria-label="Groan Zone background bricks and neon sign"></span>

    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>