<div class="text-center">
  <h2>{{jokeSetUp}}</h2>

  <p>{{jokePunchLine}}</p>
  <p>Created by {{user.name}}</p>
  <p>
    <span for="img" src="../assets/Groan Zone.png" aria-label="Groan Zone background bricks and neon sign"></span>

  </p>
  <p>
    <button class="btn btn-primary">Submit</button>
  </p>
</div>