<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Joke</h3>

    <form class="form new-joke-form">
      <div class="form-group">
        <label for="joke-name">Joke Question:</label>
        <input class="form-input" type="text" id="joke-name" name="joke-name" />
      </div>
      <div class="form-group">
        <label for="joke-desc">Punch Line:</label>
        <textarea class="form-input" id="joke-desc" name="joke-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if jokes.length}}
  <div class="col-md-6 joke-list">
    <h3>Current jokes:</h3>

    {{#each jokes as |joke|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/profile/{{joke.jokeId}}">{{joke.jokeSetUp}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{joke.jokeId}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/profile.js"></script>