body {
  height: 100vh;
  color: aliceblue;
  background-color: #040557;
}

main {
  height: 100%;
}

.background-image-element {
  background-image: url("/Groan_Zone.png");
  background-repeat: repeat-y;
  /* background-color: #040557; */
  background-size: cover;
  height: 100%;
}

.title {
  border: 1px solid #040557;
}

#loginButton {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #fd8cd7;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  border-style: solid;
  border-color: #fd8cd7;
  font-size: 30px;
  margin-left: 30vw;
  margin-top: 65vh;
  padding: 3px;
}

.no-button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  border-style: solid;
  color: #39c5ef;
  border-color: #fd8cd7;
  margin-left: 5px;
  border-radius: 5px;

}

.no-button:hover {
  color: #fd8cd7;
  text-decoration: none;
  border-style: solid;
  padding: 5px;
  border-radius: 5px;
}

.form {
  width: 75%;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding-top: 45%;
}

/*main button jass file 974*/
.loginButton {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #39c5ef;
  box-shadow: 0 0 10px 2px #040557;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  border-style: solid;
  border-color: #18667e;
  font-size: 30px;
}

.loginButton:hover {
  text-decoration: none;
  color: #fd8cd7;
  /* COLORS For buttons 1013 area jass*/
  border-color: #18667e;
  cursor: pointer;
  box-shadow: 0 0 10px 2px #040557;
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

.loginButton:active {
  color: #fd8cd7;
}

.loginButton:visited {
  text-decoration: none;
  color: #39c5ef;
}

.logoutButton {
  color: red;
}

#btn,
btn-primary {
  background-color: #39c5ef;
}

.submitButton {
  text-decoration: none;
  display: block;
  width: 100%;
  /*margin: 0.625rem 0;*/
  color: #39c5ef;
  box-shadow: 0 0 10px 2px #040557;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*padding-left: 50px; */
  font-weight: bold;
  border-style: solid;
  border-color: #18667e;
  font-size: 30px;
}

.submitButton:hover {
  text-decoration: none;
  color: #fd8cd7;
  border-color: #18667e;
  cursor: pointer;
  box-shadow: 0 0 10px 2px #040557;
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

.submitButton:active {
  color: #fd8cd7;
}

.submitButton:visited {
  text-decoration: none;
  color: #39c5ef;
}

.thewholeshebang {
  max-height: 70vh;
}

.cssNJ {
  margin-top: 15vh;
  margin-bottom: 0;
  max-height: 100vh;
  /* margin-left: 13.5vw; */
}

.newjokegroup {
  margin-left: 13.5vw;
  margin-right: 23vw;
}

.jokeButton:visited {
  text-decoration: none;
  color: #39c5ef;
  border-style: solid;
  border-color: #fd8cd7;
  padding: 5px;
  border-radius: 5px;
}

.jokeButton:active {
  text-decoration: none;
  color: #39c5ef;
  border-style: solid;
  border-color: #fd8cd7;
  padding: 5px;
  border-radius: 5px;
}

.jokeButton:hover {
  color: #fd8cd7;
  text-decoration: none;
  border-style: solid;
  padding: 5px;
  border-radius: 5px;
}

.jokeButton {
  text-decoration: none;
  color: #39c5ef;
  border-style: solid;
  border-color: #fd8cd7;
  padding: 5px;
  border-radius: 5px;
}

.jokeContainer {
  margin-top: 33.5vh;
  margin-left: 20%;
}

.createJokeButton {
  text-decoration: none;
  color: #39C5EF;
  border-style: solid;
  border-color: #FD8CD7;
  padding: 5px;
  border-radius: 5px;
}

.createJokeButton:hover {
  color: #FD8CD7;
  text-decoration: none;
  border-style: solid;
  padding: 5px;
  border-radius: 5px;
}

.createJokeButton:active {
  text-decoration: none;
  color: #39C5EF;
  border-style: solid;
  border-color: #FD8CD7;
  padding: 5px;
  border-radius: 5px;
}

.createJokeButton:visited {
  text-decoration: none;
  color: #39C5EF;
  border-style: solid;
  border-color: #FD8CD7;
  padding: 5px;
  border-radius: 5px;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: #8ac4ff;
  }
}