body {
  height: 100vh;
}

.background-image-element {
  background-image: url("/Groan_Zone.png");
  /* background-color: #040557; */
  background-size: cover;
  height: 100%;
}

.title {
  border: 1px solid #040557;
}

#loginButton {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #fd8cd7;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  border-style: solid;
  border-color: #fd8cd7;
  font-size: 30px;
  margin-left: 30vw;
  margin-top: 65vh;
  padding: 3px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.form {
  width: 75%;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding-top: 45%;
}

/*main button jass file 974*/
.loginButton {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #39c5ef;
  box-shadow: 0 0 10px 2px #040557;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  border-style: solid;
  border-color: #18667e;
  font-size: 30px;
}

.loginButton:hover {
  text-decoration: none;
  color: #fd8cd7;
  /* COLORS For buttons 1013 area jass*/
  border-color: #18667e;
  cursor: pointer;
  box-shadow: 0 0 10px 2px #040557;
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

.loginButton:active {
  color: #fd8cd7;
}

.loginButton:visited {
  text-decoration: none;
  color: #39c5ef;
}

.logoutButton {
  color: red;
}

#btn,
btn-primary {
  background-color: #39c5ef;
}

.submitButton {
  text-decoration: none;
  display: block;
  width: 100%;
  /*margin: 0.625rem 0;*/
  color: #39c5ef;
  box-shadow: 0 0 10px 2px #040557;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*padding-left: 50px; */
  font-weight: bold;
  border-style: solid;
  border-color: #18667e;
  font-size: 30px;
}

.submitButton:hover {
  text-decoration: none;
  color: #fd8cd7;
  border-color: #18667e;
  cursor: pointer;
  box-shadow: 0 0 10px 2px #040557;
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

.submitButton:active {
  color: #fd8cd7;
}

.submitButton:visited {
  text-decoration: none;
  color: #39c5ef;
}